{% extends 'app_storyshelf/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for item in contents %}
    <div class="row" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="card border-secondary">
                <div class="card-body" style="box-shadow: 8px 8px 5px #a9a9a9">
                    <h5 class="card-title t-m">{{ item.book_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted beamin">{{ item.author }}</h6>
                    <p class="card-text s-co-md">{{ item.content }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="pagination">
                <span class="step-links text-center" style="width:100%;">
                    {% if contents.has_previous %}
                        <a href="?page={{ contents.previous_page_number }}"><img class="btn_direct" src = "{% static "app_storyshelf/img/left.png" %}"/></a>
                    {% endif %}
                    {% if contents.has_next %}
                        <a href="?page={{ contents.next_page_number }}"><img class="btn_direct" src = "{% static "app_storyshelf/img/right.png" %}"/></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}